.navigation{
    height: 7vh;
}

.brand-style{
font-family: 'Lobster', cursive;
font-size: 30px;
display: inline-block;
}

.brand-title{
    font-family: 'Lobster', cursive;
    font-size: 70px;
    }

.brand-subtitle{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    }
.logo{
    width: 100px;
}
.contenedor-quienes-somos{
    height: 200px;
}

.call_number{
    color:#FFFF
}